@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

/* Global style */

*{
    margin:0;
    padding:0;
    border:0;
}

body {
    background: url("../images/celtic_background.png") no-repeat center center;
    background-size: cover;
    font-family: 'Londrina Solid', cursive;
    color: #354933;
    text-align: center;
}

h1 {
    font-weight: 900;
    font-size: 2.5rem;
    color: #a88a6d;
    margin-top: -20px;
}

p {
    font-size: 2rem;
}

.responsive-img {
    margin-top: 50px;
}

label {
    color:#354933;
    font-size: 2.5rem;
    font-weight: 300;
}

button, .submit-user {
    color: #fff;
    background-color: #354933;
    padding: 10px 20px;
    font-family: 'Londrina Solid', cursive;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 12px;
}
